body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

.input-field {
  padding-top: 20px;
  margin-top:5px;
  margin-bottom: 7px;
}

.input-field label {
margin-bottom: 15px;
  display: block;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 200;
  font-size: 1rem;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 380px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #419545;
  transition
}

#message {
  text-align: center;
  color: red;
  }