body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Airbus-Picture.jpeg');
    background-size:cover;
  }
  
  .container {
    width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    opacity: 0.9;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: whitesmoke;
  }
  
  .departments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .department {
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  h2 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .department-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .department-link:hover {
    background-color: #45a049;
  }
 